<% include partials/header %>
	<h1>Test Proge: </h1>
	<p></p>
	<button class="btn" id="generirajProgo">Generiraj progo</button>
	<button class="btn" id="shraniProgo">Shrani progo</button><br>
	<lable>Id Proge za prikaz: </lable></br>
	<input id="idProgeZaPrikaz"></input></br>
	<button class="btn" id="PrikaziProgo">Prikazi progo</button><br>


	<br><br>
	<div id="izrisProge"></div>
	</br>

	<script type="text/javascript">
		$(document).ready(function(){

			$('#shraniProgo').attr("disabled",true);
			var progaZaShranit;

			$('#generirajProgo').on('click',function()
			{
				$('#shraniProgo').attr("disabled",false);
				$('#izrisProge').html("");
				//ajax klic da oridobimo podatke o progi
				var proga;
				var jsonProge;
				$.ajax({
				  url: "http://localhost:3000/racetrack/generator/10",
				  context: document.body
				}).done(function(res) {
				  jsonProge = JSON.stringify(res, null, 2);
				  //alert(jsonProge);
				  console.log(jsonProge);
				  //$("#izpisJSON").html(jsonProge);
				  proga = JSON.parse(JSON.stringify(res));
				  izrisiProgo(proga);
				  progaZaShranit = proga;
				});			
			});

		$('#PrikaziProgo').on('click',function()
			{
				$('#shraniProgo').attr("disabled",true);

				$('#izrisProge').html("");
				//ajax klic da oridobimo podatke o progi
				var progaId = $('#idProgeZaPrikaz').val();
				var proga;
				var jsonProge;
				$.ajax({
				  url: "http://localhost:3000/racetrack/"+progaId,
				  context: document.body
				}).done(function(res) {
				  jsonProge = JSON.stringify(res, null, 2);
				  //alert(jsonProge);
				  //$("#izpisJSON").html(jsonProge);
				  proga = JSON.parse(JSON.stringify(res));
				  izrisiProgo(proga);
				});			
			});

		//shranjevanje proge
		$("#shraniProgo").click(function(){

	   	var url = "http://localhost:3000/racetrack/";
	   	var objekt = progaZaShranit;
	   	$.ajax({
		  url: url,
		  type: 'POST',
		  context: document.body,
		  data: {
	        "name": objekt.name,
	        "time":objekt.time,
	        "sectionCounter":objekt.sectionCounter, 
	        "reward":objekt.reward,
	        "sectionArray": objekt.sectionArray,
	        "waterPercent": objekt.waterPercent,
	        "snowPercent": objekt.snowPercent,
	        "icePercent": objekt.icePercent,
	      
		  },
		  dataType: 'json',
		  success: function(res)
		  {
		  	alert("uspesno");
		  },
		   error: function (xhr, ajaxOptions, thrownError) {
	        alert(xhr.status + " " + thrownError);
	      }
		})
	   });

		function izrisiProgo(proga) 
				{
					//$('#izrisProge').html(proga.name);
					for(var i = 0; i < proga.sectionArray.length; i++) //vsak odsek je svoja tabela
					{
						var table = $('<table>');

						if(proga.sectionArray[i].sectionType == 2) //voda
						{
							table.css('background-image', 'url("../slike/voda.jpg")');
						}
						else if(proga.sectionArray[i].sectionType == 1) //led
						{
							table.css('background-image', 'url("../slike/led.jpg")');
						}
						else if(proga.sectionArray[i].sectionType == 0)
						{
							table.css('background-image', 'url("../slike/sneg.jpg")');
						}	


						for(var j = 0; j < proga.sectionArray[i].obstacleMatrix.length; j++) //premik po vrsticah znotraj tabele
						{
							var tr = $('<tr>');
							
							for(var k = 0; k < proga.sectionArray[i].obstacleMatrix[j].length; k++) //premik po stolpcih znotarj tabela
							{
								var td = $('<td>');
								if(proga.sectionArray[i].obstacleMatrix[j][k] == 0)
								{
									var slika = $('<img>');
									slika.attr('src', '../slike/prazno.png');
									slika.css('margin', '16px');
								}
								else if(proga.sectionArray[i].obstacleMatrix[j][k] == 1)
								{
									var slika = $('<img>');
									slika.attr('src', '../slike/prazno.png');
									slika.css('margin', '16px');
									
								}
								else if(proga.sectionArray[i].obstacleMatrix[j][k] == 2)
								{
									var slika = $('<img>');
									slika.attr('src', '../slike/x.png');
									slika.css('margin', '20px');
								}
								else if(proga.sectionArray[i].obstacleMatrix[j][k] == 3)
								{
									var slika = $('<img>');
									slika.attr('src', '../slike/x.png');
									slika.css('margin', '20px');
								}
								else if(proga.sectionArray[i].obstacleMatrix[j][k] == 4)
								{
									var slika = $('<img>');
									slika.attr('src', '../slike/coin.png');
									slika.css('margin', '20px');	
								}
								else if(proga.sectionArray[i].obstacleMatrix[j][k] == 5)
								{
									var slika = $('<img>');
									slika.attr('src', '../slike/rocket.png');
									slika.css('margin', '20px');
								}
								else
								{
									var slika = $('<div>');
									slika.append(proga.sectionArray[i].obstacleMatrix[j][k]+'');
								}


								td.append(slika);
								tr.append(td);
							
							}

							table.append(tr);
						}
						$('#izrisProge').append($('<p>').html("st: "+i +  " naklon: " + proga.sectionArray[i].incline + "° izhoda:  " + proga.sectionArray[i].curvature + "°")); //zaporedna stevilka odseka
						$('#izrisProge').append(table);
						$('#izrisProge').append("<br>");
					}

				}
			
		});
	</script>

<% include partials/footer %>