<h2>Prijava</h2>
<form action="/prijava" method="post">
	<label>Username:</label>
	<input type="text" name="username" placeholder="username"  required=""><br>
	<label>Password:</label>
	<input type="password" name="password"  required=""><br>
	<input type="submit" value="Prijava">
</form>

<a href="showRegistracija">Registriraj se</a>