<h2>Registracija</h2>
<form action="/registracija" method="post">
	<label>E-Mail:</label>
	<input type="email" name="email" placeholder="e-mail" required=""><br>
	<label>Username:</label>
	<input type="text" name="username" placeholder="username"  required=""><br>
	<label>Password:</label>
	<input type="password" name="password"  required=""><br>
	<input type="submit" value="Registracija">
</form>

<a href="showPrijava">Prijavi se</a>